@using FsharpWebApp.Models
@model ActorModelViewModel
@{
    ViewData["TitleOne"] = "Types";
    ViewData["TitleTwo"] = "Modeling";
    ViewData["TitleThree"] = "Examples";
}

<div class="text-center">
    <h1 class="display-4">Type/Model based programming</h1>
</div>

<h1>@ViewData["TitleOne"]</h1>
<h2>Union</h2>
<h2>Sum</h2>
<h2>Enumerations</h2>

<h1>@ViewData["TitleTwo"]</h1>

<h1>@ViewData["TitleThree"]</h1>
