@using FsharpWebApp.Models
@model ActorModelViewModel
@{
    ViewData["TitleOne"] = "Finite trees";
    ViewData["TitleTwo"] = "Examples";
    ViewData["TitleThree"] = "Catamorphism";
}

<div class="text-center">
    <h1 class="display-4">Finite Trees</h1>
</div>

<h1>@ViewData["TitleOne"]</h1>

<h1>@ViewData["TitleTwo"]</h1>

<h1>@ViewData["TitleThree"]</h1>
