@using FsharpWebApp.Models
@model ActorModelViewModel
@{
    ViewData["TitleOne"] = "The actor model";
    ViewData["TitleTwo"] = "Akka in F#";
    ViewData["TitleThree"] = "Extra";
}

<div class="text-center">
    <h1 class="display-4">Intro</h1>
    <p>Learn about the fundementals of F#.</p>
</div>

<h1>@ViewData["TitleOne"]</h1>

<h1>@ViewData["TitleTwo"]</h1>

<h1>@ViewData["TitleThree"]</h1>
