@using FsharpWebApp.Models
@model ActorModelViewModel
@{
    ViewData["TitleOne"] = "Flaws";
    ViewData["TitleTwo"] = "Iteration vs Recursion";
    ViewData["TitleThree"] = "Algebraic type sizes";
}

<div class="text-center">
    <h1 class="display-4">Algebraic data types</h1>
</div>

<h1>@ViewData["TitleOne"]</h1>

<h1>@ViewData["TitleTwo"]</h1>

<h1>@ViewData["TitleThree"]</h1>
