@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The purpose of this web application is to improve my F# abilities and understaning of some it's most fundemental concepts.</p>
</div>
